<!DOCTYPE html>
<html lang="en">
<head>
  <title>Google sheets</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Google Sheets</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Content</th>
        <th>Era</th>
      </tr>
    </thead>
    <tbody>
    {% for article in articles %}
      <tr>
        <td><a href="{{ ('/article/' + (article.title | slugify)) | url }}">{{ article.title }}</a></td>
        <td>{{ article.year }}</td>
        <td>{{ article.content }}</td>
        <td>{{ article.era }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>
